:root {
  --black: #000000;
  --black1: #1e1d1c;
  --black2: #30374c;
  --green: #73b21a;
  --white: #ffffff;
  --nero: #222222;
  --gray: #9e9d9d;
  --lightgray: #6e6e6e;
  --lightgray2: #d7d7d7;
  --lightgray1: #b5b7b9;
  --lightgray3: #929498;
}
:root {
  --common-font-st: 'Playfair Display SC', serif;
  --common-font-head: 'Krub', sans-serif;
  --common-font-para: "Roboto";
}
/* ----------- Spinner ------------- */
.spinner-loading-box{
  position: fixed;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #30374c;
  z-index: 9999;
}
.preloader {
    width: 244px;
    height: 49px;
    position: absolute;
    left: 50%;
    margin: -24px -122px;
    list-style-type: none;
    top: 50%;
}
.preloader li {
    float: left;
    position: relative;
}
.loader {
    width: 40px;
    height: 40px;
    border-radius: 0 0 50% 50%;
    border: 4px solid rgb(87, 186, 85);
    border-top: 0;
    border-left: 0;
    border-right: 0;
    animation: rotate 1.73s cubic-bezier(0.45, 0, 1, 1) infinite;
}
.loading {
    position: absolute;
    content: "";
    width: 20px;
    height: 20px;
    top: 50%;
    left: 50%;
    margin-top: -10px;
    margin-left: -10px;
    border-radius: 100%;
    background: rgb(87, 186, 85);
    box-shadow: 0 -15px 0 0 rgba(87, 186, 85,0.15), 0 -10px 0 0 rgba(87, 186, 85,0.1), 0 -5px 0 0 rgba(87, 186, 85,0.05);
    animation: fall 1.73s cubic-bezier(0.95, 0, 1, 1) infinite;
}
.preloader li:nth-child(1) div {
    animation-delay: 115ms;
}
.preloader li:nth-child(2) div {
    animation-delay: 230ms;
}
.preloader li:nth-child(3) div {
    animation-delay: 345ms;
}
.preloader li:nth-child(4) div {
    animation-delay: 460ms;
}
.preloader li:nth-child(5) div {
    animation-delay: 575ms;
}
@keyframes rotate {
    0%, 20% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
@keyframes fall {
    0%, 20% {
        transform: translatey(-29px);
        opacity: 0;
    }
    20%, 24%, 27%, 30%, 50%, 75% {
        transform: translatey(0px);
        opacity: 1;
    }
    22% {
        transform: translatey(-10px)
    }
    25% {
        transform: translatey(-6px)
    }
    28% {
        transform: translatey(-2px)
    }
    30% {
        box-shadow: 0px 0px 0px rgba(87, 186, 85,0.3);
    }
    75%, 100% {
        box-shadow: 0 -15px 0 0 rgba(87, 186, 85,0.15), 0 -10px 0 0 rgba(87, 186, 85,0.1), 0 -5px 0 0 rgba(87, 186, 85,0.05);
        transform: translatey(29px);
        opacity: 0;
    }
}
/* --------------- Common CSS --------------- */
.head-foot-fontfam, #vw_gardening_footer h3, #vw_gardening_footer .textwidget input[type="submit"], #vw_gardening_footer .post-content a, #vw_gardening_footer .copyright p{
  font-family: var(--common-font-head);
  font-weight: 700;
}
#topbar-social-search, .main-header-box .header-button a span, #vw_gardening_footer h3:after{
  background-color: var(--green);
}
#topbar-social-search .socialbox, .closepop, .copyright .socialbox{
  text-align: right;
}
#topbar-social-search span, #topbar-social-search .socialbox i, .main-header-box .header-button a span{
  color: var(--white);
}
#topbar-social-search span, #vw_gardening_footer ul li a, #vw_gardening_footer .about_me table p{
  font-family: var(--common-font-para);
  font-weight: 500;
}
.side-navigation ul ul li.current_page_item,.close-sidebar, .side-navigation a, .side-navigation ul li:hover>ul, .side-navigation ul ul li, .main-header-box .header-button a span, #return-to-top, #vw_gardening_footer h3:after {
  display: block;
}
#vw_gardening_footer .widget_nav_menu ul li a:after,.news-btn,.main-header span.call,.spinner-loading-box .lds-ripple, #topbar-social-search .topbar-search span, .side-navigation li.current_page_item, .side-navigation li, #footer .custom-social-icons a, #footer .textwidget input[type="submit"], .social_widget a {
  display: inline-block;
}
#vw_gardening_slider .slide_nav a:hover i, #vw_gardening_header .logo p, #return-to-top i, #return-to-top:hover i, #vw_gardening_footer .copyright a, #vw_gardening_footer .textwidget input[type="email"], #vw_gardening_footer .textwidget input[type="email"]::placeholder, #vw_gardening_footer .post-content a, .footer-social .socialbox a i, #vw_gardening_header .logo h1 a, span.credit_link a, #vw_gardening_footer {
  color: var(--white);
}
.main-header-box .header-button a span, #vw_gardening_footer .post-content a{
  letter-spacing: 1px;
}
.spinner-loading-box, #topbar-social-search .topbar-search span, .serach_outer i, .close-sidebar, #vw_gardening_footer .copyright a{
  cursor: pointer;
}
.search_popup input.search-submit, .search_popup input.search-field, .main-header-box .header-button a, .main-header-box .header-button a span, #vw_gardening_footer .textwidget input[type="submit"] {
  border-radius: 40px;
}
#vw_gardening_header .logo p, .side-navigation ul ul a, #vw_gardening_footer .textwidget p  {
  font-size: 13px;
}
.spinner-loading-box, .serach_outer, .vw_gardening_serach_inner, .closepop, .vw_gardening_serach_inner form.search-form, .home.page-template .header-wrap, #vw_gardening_header .scrolled{
  width: 100%;
}
.serach_outer, .headerbar, amp-sidebar#sidebar1, .side-navigation ul ul, #vw-sticky-onoff {
  display: none;
}
/* --------------- Topbar --------------- */
#topbar-social-search span{
  padding-right: 15px;
  font-size: 13px;
}
.topbar-text i {
    margin-right: 5px;
    color: #fff;
}
#topbar-social-search .socialbox i {
  margin-top: 13px;
  border-right: 1px solid rgb(255 255 255 / 0.3);
  padding: 0 13px 0px 8px;
  font-size: 13px;
}
#topbar-social-search .socialbox a:last-child i {
  border-right: none;
}
#topbar-social-search .topbar-search span{
  background: rgba(2,2,2,.2);
  padding: 10px 10px;
}
#topbar-social-search .topbar-text{
  padding-top: 10px;
}
/*-----------------Search pop up----------------*/
.serach_outer {
  position: fixed;
  height: 100%;
  overflow: hidden;
  transition: 0.5s;
  z-index: 999999999999;
  top: 0;
  left: 0;
  background-color: rgba(0,0,0, 0.8);
}
.vw_gardening_serach_inner {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.closepop {
  position: absolute;
  top: 29%;
  transform: translateY(-50%);
  right: 0;
  margin-right: 28px;
  z-index: 999999;
}
.serach_outer i {
  font-size: 24px;
  padding: 4px 0 0 0;
  color: #fff;
}
.vw_gardening_serach_inner form.search-form {
  display: table;
  border-radius: 0;
  margin: 0 auto;
  max-width: 700px;
}
.search_popup input.search-submit, .search_popup input.search-field {
  border: 2px solid var(--white);
}
.search_popup input.search-submit {
  padding: 10px 29px;
}
.search_popup label {
  background: transparent;
  width: 81%;
}
.search_popup input.search-field {
  padding: 1.5% 0;
  width: 95%;
  text-indent: 8px;
  outline: none;
}
/* --------------------------Header---------------------------- */
#vw_gardening_header .logo img{
  max-height: 123px;
  width: 75%;
}
#vw_gardening_header .logo h1 a{
  font-size: 23px;
  font-family: 'Playfair Display SC', serif;
  font-weight: 700;
}
#vw_gardening_header .logo p {
  margin-bottom: 0;
}
.home.page-template .header-wrap{
  position: absolute;
  padding-top: 8px;
  z-index: 9;
  background-color: transparent;
}
.header-wrap{
  background-color: var(--black2);
  padding-top: 10px;
  padding-bottom: 0px;
}
.menubar {
  -webkit-transition: all 0.5s ease;
  -moz-transition: position 10s;
  -ms-transition: position 10s;
  -o-transition: position 10s;
  transition: all 0.5s ease;
}
.hamburger i,.headerbar, .close-sidebar, .side-navigation ul li a{
  color: var(--white) !important;
  cursor: pointer;
}
.side-navigation>li {
  list-style: none;
  margin-bottom: 10px
}
.close-sidebar {
  position: absolute;
  top: 0px;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}
.headerbar {
  font-size: 30px;
  font-weight:900;
}
.main-header-box {
  border-bottom: 1px solid rgba(103, 98, 96, 0.24);
  padding-bottom: 3px;
  padding-top: 15px;
}
.home .side-navigation ul {
  margin: 0px auto;
}
.side-navigation li {
  position: relative;
  padding: 17px 0px;
}
.side-navigation li.current_page_item:after {
  content: '';
  position: absolute;
  bottom: -6px;
  left: 12px;
  right: 0;
  height: 2px;
  background: rgb(115, 178, 26);
  width: 50px;
}
.side-navigation a {
    text-transform: none;
    font-size: 15px;
    font-family: var(--common-font-para);
    font-weight: 600;
    padding: 0px;
    border-right: 1px solid rgb(255 255 255 / 0.2);
    padding: 0px 17px 0px 17px;
}
.side-navigation li:last-child a{
  border-right: none;
}
.side-navigation ul ul>li.menu-item-has-children>a:before,.side-navigation li.current_page_item ul.sub-menu a:before,.side-navigation li.current_page_item ul.sub-menu:before,.side-navigation li.current_page_item ul.sub-menu li:before{
  content: none !important;
}
.side-navigation ul ul {
  position: absolute;
  left: 0;
  top: 105%;
  background: var(--white); 
  min-width: 215px;
  z-index: 9999;
  margin-left: 0;
}
.side-navigation ul li:hover>ul {
  -webkit-animation: fadeIn .7s ease-in-out;
  animation: fadeIn .7s ease-in-out;
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transform: translate(0px,0px);
  -moz-transform: translate(0px,0px);
  transform: translate(0px,0px);
  overflow: visible;
}
.side-navigation ul ul li {
  float: none;
  text-align: left;
  border-bottom: 1px solid var(--lightgray1);
  padding: 5px 12px;
  margin: 0px;
}
.side-navigation ul ul ul {
  left: 100%;
  top: 0%;
  margin-left: 0;
}
.side-navigation ul ul a {
  padding: 10px 5px;
  transition: all .5s ease 0s;
  text-transform: none;
  font-weight: 400;
  color: var(--black1) !important;
  line-height: 1.5;
  margin-left: 10px;
}
.side-navigation ul>li.menu-item-has-children>a:after, .side-navigation ul ul>li.menu-item-has-children>a:after {
  position: static;
  margin-left: 5px;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  float: right;
}
.side-navigation ul>li.menu-item-has-children>a:after {
  content: "\f107";
  margin-top: 5%;
}
.side-navigation ul ul>li.menu-item-has-children>a:after {
  content: "\f105";
  margin-top: 0%;
}
.side-navigation ul>li.menu-item-has-children>a:before {
  content: '';
  position: absolute;
  z-index: 1000;
  left: 50%;
  bottom: -9px;
  margin-left: -14px;
  border: 7px solid;
  opacity: 0;
  transition: opacity ease-in .08s;
}
#vw_gardening_header .scrolled {
  position: fixed !important;
  top: 0;
  z-index: 9999999;
  background: var(--white);
}
.main-header-box .header-button a{
  border:2px dashed var(--green);
  padding: 7px;
}
.main-header-box .header-button a span{
  padding:8px 10px;
}
.stickynavbar {
  padding-top: 0 !important;
  background-color: var(--black2) !important;
  z-index: 12;
}
.stickynavbar .side-navigation li.current_page_item:after{
  display: none;
}
.sticky {
  position: fixed;
  top: 0px;
  padding: 20px 15px !important;
  background: #30374c !important;
}
.innermenubox {
    padding-top: 10px;
}
.admin-bar .header-wrap-second .sticky{
  background: #b8e0db !important;
}
.nav_wrap {
  clear:both;
  background-color: transparent;
  margin-bottom: 0em;
  z-index: 99;
}
.topbar-lay .topbar-text {
  padding-top: 0 !important;
}
.topbar-lay .socialbox i{
  margin-top: 0 !important;
}
.logo h1 a, .logo p.site-title a{
  font-family: 'Playfair Display SC', serif;
  font-weight: normal;
}
.main-header,.page-template-home-page .main-header{
  background: transparent;
  border: none;
  position: static;
}
.main-header i.fas.fa-phone {
  padding: 15px;
  color: #fff;
  font-size: 16px;
  border-radius: 25px;
  background: #73b21a;
}
.main-header span.call {
  border-radius: 28px;
  border: 2px dashed #73b21a;
  padding: 5px;
}
.main-header-box .call-info {
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 1px;
}
.main-header-box .call-info a:hover{
  color: #222;
}
.main-header-box .call-info a {
  color: #73b21a;
}
.top-btn {
  display: grid;
  padding: 5px;
}
.top-btn a{
  text-align: center;
}
.main-header-box .menu-bg {
  background: rgba(0, 0, 0, 0) linear-gradient(120deg, #b8e0db 82%, #73b21a 12%) repeat scroll 0 0;
  outline: solid 2px #fff;
  outline-offset: -8px;
  box-shadow: 0 0 10px 2px #b3b3b3;
}
.page-template-home-page .menu-bg{
  margin-bottom: -4em;
}
.main-navigation a{
  color: #000;
  padding: 12px 15px;
  font-weight: 600;
}
.search-box,.cart_no {
  margin: 13px 0;
}
.search-box i, .cart_no i {
  border: solid 2px #fff;
  padding: 10px 0;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  color: #fff;
  text-align: center;
}
.page-template-custom-home-page .menu-bg {
  margin-bottom: -35px;
  position: relative;
  z-index: 999;
}
.main-navigation ul{
  padding: 0 0 0 10px;
}
.toggle-nav.mobile-menu {
  display: none;
}
.header-wrap-second .side-navigation a, .header-wrap-second .logo p{
  color: #000 !important;
}
.header-wrap-second .logo h1 a, .header-wrap-second .logo h1{
  color: #73b21a !important;
  font-size: 30px;
}
.header-wrap-second .side-navigation li{
  padding: 5px 0px;
}
.header-wrap-second .side-navigation a{
  border: none;
}
/* ---------- Return to Top ------------ */
#return-to-top {
  position: fixed;
  bottom: 10px;
  right: 20px;
  background: var(--green);
  width: 50px;
  height: 50px;
  text-decoration: none;
  -webkit-border-radius: 35px;
  -moz-border-radius: 35px;
  border-radius: 35px;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  z-index: 99;
}
#return-to-top i {
  position: relative;
  top: 13px;
  font-size: 19px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  padding: 3px 8px;
}
#return-to-top:hover {
  background: rgba(0, 0, 0, 0.9);
}
#return-to-top:hover i {
  top: 5px;
}
.page-template-default .woocommerce a.button, .page-template-default .woocommerce a.button.alt{
  background: var(--green);
}
.footer-social .socialbox a, #vw_gardening_footer .textwidget input[type="email"] {
  border-right: none;
}
/*-------------Footer Menu ------------*/
#footer_box {
  padding: 60px 0 10px 0;
}
#vw_gardening_footer .footer-links{
  background-color: var(--white);
}
/* --------- Social Icon Widget ------- */
.social_widget a {
  color: #8e929f;
  padding: 7px 7px;
  margin-right: 7px;
  margin-bottom: 5px;
  border-radius: 50%;
}
.social_widget a i {
  font-size: 13px;
  letter-spacing: 3px;
  width: 20px;
  text-align: center;
}
/*---------------- Footer Section ----------------------*/
#vw_gardening_footer_box{
  padding: 60px 0 10px 0;
}
#vw_gardening_footer{
  background-color: var(--nero);
  background-repeat: no-repeat;
  background-size: cover;
}
.outer-footer {
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.footer-top {
  padding-bottom: 50px;
}
.footer-top-col h3 {
  font-size: 20px;
  font-weight: bold;
}
.outer-footer {
  background-size: 100% 100%;
}
#vw_gardening_footer form.search-form{
  border: none;
  background: transparent;
  padding: 0;
}
#vw_gardening_footer form.search-form input{
  float: none;
  border: 1px solid var(--white);
  margin: 0px 2px;
}
#vw_gardening_footer input[type="search"]{
  padding: 8px;
}
#vw_gardening_footer textarea{
  height: 100px;
}
#vw_gardening_footer p.post-date {
  color: var(--lightgray);
  font-size: 12px;
}
.main_sociobox {
  padding: 20px 0;
}
.footer_hide{
  display:none;
}
#vw_gardening_footer h3 {
  font-size: 18px;
  letter-spacing: 2px;
  color: var(--white);
  padding:10px 0 17px 0;
}
#vw_gardening_footer h3:after{
  content: "";
  width: 45px;
  height: 3px;
  margin-top: 20px;
}
#vw_gardening_footer .copyright p{
  font-size: 14px;
  letter-spacing: 0px;
  color: #a4a3a3;
  font-weight: normal;
}
#vw_gardening_footer ul li{
  list-style:none;
  margin:0 0 5px 0;
  padding: 5px;
}
#vw_gardening_footer .working-time li{
  border-bottom: 1px solid #434343;
  color: #8b8b8b;
  padding-bottom: 8px;
  font-size: 13px;
}
#vw_gardening_footer .contact-table .row{
  border-bottom: 1px solid #434343;
}
#vw_gardening_footer .contact-text a{
  color: #8b8b8b;
}
#vw_gardening_footer ul li a{
  font-size: 13px;
  letter-spacing: 0px;
  color: #919191;
}
#vw_gardening_footer .about_me table p{
  font-size: 13px;
  letter-spacing: 0px;
  color: var(--gray);
  margin-bottom: 0;
}
.widget_recent_entries img {
  width: 70px;
}
.about_me table, .about_me td, .about_me th{
  border: none;
}
.about_me p.message {
  margin-bottom: 20px !important;
}
.copyright{
  padding-top: 30px;
  border-top:1px solid #676260;
}
#vw_gardening_footer .textwidget input[type="email"]{
  border-bottom:1px solid #434343;
  border-left: none;
  border-top:none;
}
#vw_gardening_footer .textwidget input[type="submit"]{
  background-color: var(--green);
}
#vw_gardening_footer .about_me i{
  font-size: 16px;
  color: #ffffff;
  padding: 3px 0;
}
#vw_gardening_footer .widget td {
  padding-top: 0px !important;
}
#vw_gardening_footer li.current_page_item{
  background-color: transparent;
  border-bottom: 3px solid var(--green);
}
#vw_gardening_footer li.current_page_item a{
  color: var(--green) !important;
}
#vw_gardening_footer .textwidget p{
  line-height: 30px;
  color: var(--gray);
  font-weight: 600;
  margin-bottom: 0;
}
#vw_gardening_footer .footer-cols{
  padding-bottom: 30px;
}
.copyright .socialbox i{
  padding-right: 10px;
}
#vw_gardening_footer .widget_nav_menu ul{
  margin-left: 0;
}
#vw_gardening_footer .widget_nav_menu ul li{
  border-bottom: 1px solid #434343;
    padding-bottom: 11px;
  position: relative;
}
#vw_gardening_footer .widget_nav_menu ul li a:after{
  content: "\f105";
  font-family: "Font Awesome 5 Free";
  position: absolute;
  right: 6px;
  font-weight: 900;
}
.copyright .socialbox i:hover {
    color: #73b21b;
}
.side-navigation a:hover {
    color: #73b21b !important;
}
.side-navigation ul ul a:hover {
    transform: scaleY(1.3);
    margin-left: 20px;
}
.side-navigation ul li.current_page_item a {
    color: #73b21b;
}
.side-navigation ul li.current_page_item .sub-menu a{
  color: #000;
}
.side-navigation ul ul li:before{
  content: '\f06c';
  font-weight: 900;
  font-family: "Font Awesome 5 Free"; 
  position: absolute;
  top: 17px;
  font-size: 12px;
  color: #73b21b;
  opacity: 0;
  left: 0;
  display: none;
}
.side-navigation ul ul li:hover::before {
    opacity: 1;
    left: 10px;
    animation: fadeInLeft .5s ease-in-out;
}
ul.working-time {
    margin-left: 0;
}
#vw_gardening_footer .working-time li:before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: '\f101';
  padding-right: 12px;
}
a.footer-btn {
  color: #73b21b;
  font-weight: 600;
  font-size: 18px;
  position: relative;
}
a.footer-btn:after {
  content: '\f054';
  position: absolute;
  font-weight: 900;
  font-family: "Font Awesome 5 Free";
  font-size: 12px;
  top: 5px;
  right: -15px;
}
.news-btn {
  border: 2px dashed #73b21b;
  border-radius: 50px;
  width: 145px;
  height: 65px;
  padding: 9px;
  margin-top: 20px;
}
span.new-icons {
  position: absolute;
  color: #fff;
  top: -10px;
  font-weight: 500;
  background: #73b21b;
  left: 0;
  right: 0;
  width: 45px;
  margin: 0 auto;
  font-size: 13px;
  border-radius: 2px;
}
span.new-icons:before{
  content: '\f0d7';
  position: absolute;
  top: 3px;
  font-weight: 900;
  font-family: "Font Awesome 5 Free";
  left: 0;
  right: 0;
  font-size: 24px;
  color: #73b21b;
}